body {
   background: #fff;
}

#header-wrap {
   position: fixed;
   height: auto;
   width: 100%;
   z-index: 100;
}
.itales {
   height: 90vh;
}
.most-popular{
   margin: 0 auto;
}
.books{
   border-top: 1px solid red;
   padding-top: 50px;
   margin: 0 10px;
}